<div class="modal-1" href="#aboutModal" data-toggle="modal" data-target="#myModal1">
    <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAkvAAAAJDdiZDMzYmE5LWMwM2ItNDFlNS04NDIxLWZhMDQwMjRlOTA4Zg.jpg" class="img-circle about-picture">
    <h3>Shawn Walker</h3>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <h4 class="modal-title" id="myModalLabel">More About Shawn</h4>
            </div>
            <div class="modal-body">
                <center>
                    <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAkvAAAAJDdiZDMzYmE5LWMwM2ItNDFlNS04NDIxLWZhMDQwMjRlOTA4Zg.jpg" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Shawn Walker <small>USA</small></h3>
                    <span><strong>Skills: </strong></span>
                    <span class="label label-danger">HTML5</span>
                    <span class="label label-primary">CSS3</span>
                    <span class="label label-warning">JavaScript</span>
                    <span class="label label-info">TypeScript</span>
                    <span class="label label-primary">jQuery</span>
                    <span class="label label-danger">Angular</span>
                    <span class="label rebecca-purple">Bootstrap</span>
                    <span class="label label-info">.Net</span>
                    <span class="label light-purple">C#</span>
                    <span class="label label-danger">SQL Server</span>
                </center>
                <hr>
                <center>
                    <p class="text-justify">
                        <strong>Bio: </strong>
                        <br>
                        I am a passionate Full Stack .Net Developer with unlimited potential to learn and adapt in any environment. Constantly looking for ways to improve my skills.
                    </p>
                    <br>
                </center>
            </div>
        </div>
    </div>
</div>
<!-- Person2 -->
<div class="modal-2" href="#aboutModal" data-toggle="modal" data-target="#myModal2">
    <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAjzAAAAJGNkZTFiZmRkLWMyMTMtNGU5OS1iNTdhLTE1ZTY4OTA3ODBiOQ.jpg" class="img-circle about-picture">
    <h3>Mochammad Ibrahim</h3>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <h4 class="modal-title" id="myModalLabel">More About Mochammad</h4>
            </div>
            <div class="modal-body">
                <center>
                    <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAjzAAAAJGNkZTFiZmRkLWMyMTMtNGU5OS1iNTdhLTE1ZTY4OTA3ODBiOQ.jpg" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Mochammad Ibrahim <small>USA</small></h3>
                    <span><strong>Skills: </strong></span>
                    <span class="label label-danger">HTML5</span>
                    <span class="label label-primary">CSS3</span>
                    <span class="label label-warning">JavaScript</span>
                    <span class="label label-info">TypeScript</span>
                    <span class="label label-primary">jQuery</span>
                    <span class="label label-danger">Angular</span>
                    <span class="label rebecca-purple">Bootstrap</span>
                    <span class="label label-info">.Net</span>
                    <span class="label light-purple">C#</span>
                    <span class="label label-danger">SQL Server</span>
                </center>
                <hr>
                <center>
                    <p class="text-justify">
                        <strong>Bio: </strong>
                        <br>
                        A unique man with unique mind. Almost always find alternative ways to solve the any kind of problem
                    </p>
                    <br>
                </center>
            </div>
        </div>
    </div>
</div>
<!-- Person3 -->
<div class="modal-3" href="#aboutModal" data-toggle="modal" data-target="#myModal3">
    <img src="https://scontent.fphx1-1.fna.fbcdn.net/v/t1.0-1/p100x100/12207_10152272008647986_2667676412130260680_n.jpg?oh=7195e4d0d09d6ab15bcc1e09d34831e4&oe=595EB8A3" class="img-circle about-picture">
    <h3>Brian Stauffenberg</h3>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <h4 class="modal-title" id="myModalLabel">More About Brian</h4>
            </div>
            <div class="modal-body">
                <center>
                    <img src="https://scontent.fphx1-1.fna.fbcdn.net/v/t1.0-1/p100x100/12207_10152272008647986_2667676412130260680_n.jpg?oh=7195e4d0d09d6ab15bcc1e09d34831e4&oe=595EB8A3" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Brian Stauffenberg <small>USA</small></h3>
                    <span><strong>Skills: </strong></span>
                    <span class="label label-danger">HTML5</span>
                    <span class="label label-primary">CSS3</span>
                    <span class="label label-warning">JavaScript</span>
                    <span class="label label-info">TypeScript</span>
                    <span class="label label-primary">jQuery</span>
                    <span class="label label-danger">Angular</span>
                    <span class="label rebecca-purple">Bootstrap</span>
                    <span class="label label-info">.Net</span>
                    <span class="label light-purple">C#</span>
                    <span class="label label-danger">SQL Server</span>
                </center>
                <hr>
                <center>
                    <p class="text-justify">
                        <strong>Bio: </strong>
                        <br>
                        Yo I code  stuff yo.
                    </p>
                    <br>
                </center>
            </div>
        </div>
    </div>
</div>