<div ng-show="account.isLoggedIn()">
    <div class="profile-header">
        <div class="profile-head">
            <div class="profile-pic col-md- col-sm-4 col-xs-12">
                <img ng-src="{{controller.userCategory.picture}}" class="img-responsive" />
            </div>

            <div class="user_info col-md-5 col-sm-5 col-xs-12">
                <h5>{{controller.userCategory.firstName}} {{controller.userCategory.lastName}}</h5>
                <p>{{controller.userCategory.occupation}}</p>
                <ul>
                    <li><span class="glyphicon glyphicon-briefcase"></span> {{controller.userCategory.experience}} Years</li>
                    <li><span class="glyphicon glyphicon-map-marker"></span> {{controller.userCategory.location}}</li>
                    <li><span class="glyphicon glyphicon-phone"></span> {{controller.userCategory.phoneNumber}}</li>
                    <li><span class="glyphicon glyphicon-envelope"></span><a href="mailto:{{controller.userCategory.email}}" title="mail">{{controller.userCategory.email}}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="edit-profile-button add-thing">
        <ul class="nav">
            <li class="even-width">

            </li>
        </ul>
    </div>

    <div class="tab-pane container-fluid">
        <div class="hve-pro">
            <p>{{controller.userCategory.bio}}</p>
        </div>

        <div class="outer-most">
            <div class="part">
                <h4 class="pro-title"><strong>User Info</strong></h4>
            </div>

            <div class="table-responsive table-information-1">
                <div>
                    <div class="even-name col-form-label">First Name</div>
                    <div class="middle-dot">:</div>
                    <input class="form-control even-input" type="text" ng-model="controller.userCategory.firstName" disabled>
                </div>

                <div>
                    <div for="example-text-input" class="even-name col-form-label">Last Name</div>
                    <div class="middle-dot">:</div>
                    <input class="form-control even-input" type="text" ng-model="controller.userCategory.lastName" disabled>
                </div>

                <div>
                    <div for="example-text-input" class="even-name col-form-label">Birthday</div>
                    <div class="middle-dot">:</div>
                    <input class="form-control even-input" type="text" ng-model="controller.userCategory.birthday" disabled>
                </div>

                <div>
                    <div for="example-text-input" class="even-name col-form-label">Location</div>
                    <div class="middle-dot">:</div>
                    <input class="form-control even-input" type="text" ng-model="controller.userCategory.location" disabled>
                </div>

                <div>
                    <div for="example-text-input" class="even-name col-form-label">Occupation</div>
                    <div class="middle-dot">:</div>
                    <input class="form-control even-input" type="text" ng-model="controller.userCategory.occupation" disabled>
                </div>
            </div>

            <div class="table-responsive table-information-2">
                <div>
                    <div class="even-name col-form-label">Email</div>
                    <div class="middle-dot">:</div>
                    <input class="form-control even-input" type="text" ng-model="controller.userCategory.email" disabled>
                </div>

                <div>
                    <div for="example-text-input" class="even-name col-form-label">Phone Number</div>
                    <div class="middle-dot">:</div>
                    <input class="form-control even-input" type="text" ng-model="controller.userCategory.phoneNumber" disabled>
                </div>

                <div>
                    <div for="example-text-input" class="even-name col-form-label">Experience</div>
                    <div class="middle-dot">:</div>
                    <input class="form-control even-input" type="text" ng-model="controller.userCategory.experience" disabled>
                </div>

                <div>
                    <div for="example-text-input" class="even-name col-form-label">Github</div>
                    <div class="middle-dot">:</div>
                    <span class="form-control even-input marg-top" ng-model="controller.userCategories.githubLink">
                        <a href="{{controller.userCategories.githubLink}}">
                            {{controller.userCategories.githubLink}}
                        </a>
                    </span>
                </div>

                <div>
                    <div for="example-text-input" class="even-name col-form-label"></div>
                    <div class="middle-dot"></div>
                    <input class="form-control even-input special-one" type="text">
                </div>
            </div>

            <div class="mid-header">
                <h4 class="pro-title"><strong>Concentration</strong></h4>
            </div>

            <div class="table-responsive table-information-3">
                <div>
                    <div class="even-name col-form-label">Courses</div>
                    <div class="middle-dot"></div>
                    <input class="form-control even-input special-one" type="text" disabled>
                </div>

                <div ng-repeat="cat in controller.userCategory.categories">
                    <div for="example-text-input" class="even-name col-form-label"></div>
                    <div class="middle-dot">:</div>
                    <span class="form-control even-input marg-top" ng-model="cat.categoryName">
                        <a ui-sref="category({id: cat.id})">
                            {{cat.categoryName}}
                        </a>
                    </span>
                </div>

            </div>

            <div class="table-responsive table-information-4">
                <div>
                    <div class="even-name col-form-label">Lessons</div>
                    <div class="middle-dot"></div>
                    <input class="form-control even-input special-one" type="text" disabled>
                </div>

                <div ng-repeat="subCat in controller.userSubCategory.subCategories">
                    <div for="example-text-input" class="even-name col-form-label"></div>
                    <div class="middle-dot">:</div>
                    <span class="form-control even-input marg-top" ng-model="subCat.subCategoryName">
                        <a ui-sref="subCategory({id: subCat.id})">
                            {{subCat.subCategoryName}}
                        </a>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>