<div class="listofUsers">
    <div class="card kl-card kl-xl kl-spin kl-reveal kl-fade kl-overlay kl-show kl-slide-in kl-shine">

        <div class="kl-card-block kl-md bg-white kl-shadow-br addMore">
            <a href="#" class="kl-card-avatar kl-md kl-pl kl-plo"><img class="kl-b-danger kl-b-circle kl-b-3 kl-reveal kl-spin kl-fast kl-shadow-br kl-shine" src="http://lorempixel.com/100/100/people"></a>
        </div>

        <div class="kl-card-block kl-md bg-primary kl-shadow-br kl-overlay">
            <div class="kl-background">
                <img src="../../images/codercampslogo.png">
            </div>
            <div class="kl-card-overlay kl-card-overlay-split-v-4 kl-dark kl-inverse kl-top-in">
                <div class="kl-card-overlay-item"></div>
                <div class="kl-card-overlay-item">
                    <div class="kl-figure-block">
                        <span class="kl-figure kl-txt-shadow">First Name</span>
                    </div>
                </div>
                <div class="kl-card-overlay-item">
                    <div class="kl-figure-block">
                        <span class="kl-figure kl-txt-shadow">Last Name</span>
                    </div>
                </div>
                <div class="kl-card-overlay-item"></div>
            </div>
            <div class="kl-card-item kl-pbl kl-show text-primary kl-txt-shadow">
                <div class="kl-figure-block">
                    <span class="kl-figure">109</span>
                    <span class="kl-title text-primary">Following</span>
                </div>
            </div>
            <div class="kl-card-item kl-pbr kl-show text-primary kl-txt-shadow">
                <div class="kl-figure-block">
                    <span class="kl-figure">26k</span>
                    <span class="kl-title text-primary">Followers</span>
                </div>
            </div>
            <div class="kl-card-item kl-pm kl-show text-white kl-txt-shadow text-center">
                <h3 class="mb-0">Joe Bloggs</h3>
                <div class="text-white small">@joebloggs</div>
            </div>

            <div class="kl-card-item kl-ptr kl-card-social kl-show">
                <!--<a href="#"><img class="kl-b-2 kl-shine kl-spin" </a>
                <a href="#"><img class="kl-b-2 kl-shine kl-spin" </a>
                <a href="#"><img class="kl-b-2 kl-shine kl-spin" </a>-->
            </div>
            <div class="kl-card-item kl-pb kl-show text-center kl-w50">
                <span class="badge badge-success">Online</span>
            </div>
        </div>
    </div>
</div>

<div ng-show="account.isLoggedIn()">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-3">
                <form action="" class="search-form">
                    <div class="form-group has-feedback">
                        <label for="search" class="sr-only">Search</label>
                        <input ng-model="search" type="text" class="form-control" name="search" id="search" placeholder="Search">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </form>
            </div>
        </div>
        <br />
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th>User pic</th>
                    <th>Name</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="au in controller.appUsers|filter:{firstName: search}">
                    <td><img class="dp" ng-src="{{au.picture}}" style="height:28px; width:28px" id="proPicBackground"/></td>
                    <td>
                        <a ui-sref="applicationUser({id: au.id})">{{au.firstName}} {{au.lastName}}</a>
                    </td>
                    <td>{{au.location}}</td>
                    <td ng-show="account.getClaim('IsAdmin')">
                        <a ui-sref="addCategoryAndSubCategoryToUser({id: au.id})">Add a Category and Sub Category</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>