<div ng-show="account.isLoggedIn()">
    <div class="container">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Category Name</td>
                </tr>
            </thead>
            <tbody>
                <tr class="">
                    <td class="well well-sm">{{controller.category.categoryName}}</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>List of SubCategory inside this Category</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul id="scatter">
                            <li ng-repeat="csc in controller.catSubCategory.subCategories" class="item" id="scat">
                                <a id="li-text" ui-sref="subCategory({id: csc.id})" class="well-sm">{{csc.subCategoryName}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>User pic</th>
                    <td>List of People who teach this (Programming/Music)</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="au in controller.category.applicationUsers">
                    <td><img class="DP" ng-src="{{au.picture}}" style="height:28px; width:28px" id="proPicBackground" /></td>
                    <td>
                        <a ui-sref="applicationUser({id: au.id})">{{au.firstName}} {{au.lastName}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>