<div ng-show="account.isLoggedIn()">
    <div class="row margin-search-1 search-down">
        <div class="col-md-4 col-md-offset-3">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input ng-model="search" type="text" class="form-control glyphicon glyphicon-search" placeholder="Search" style="width:390px;">
                </div>
            </form>
        </div>
    </div>

    <div class="container-fluid">
        <div class="category-header">
            <h2>Course</h2>
        </div>

        <ul class="outer-scatter container-fluid ">
            <li class="inner-scatter add-more-center">
                <div class="scatter-content">
                    <div class="scatter-image">
                        <img class="scatter-image-2" ng-src="{{controller.catSubCategory.catImageUrl}}" />
                    </div>
                    <div class="scatter-name">
                        <a class="li-text">{{controller.catSubCategory.categoryName}}</a>
                    </div>
                </div>

                <div class="make-center">
                    <a ng-show="account.getClaim('IsAdmin')" ui-sref="editCategory({id: controller.catSubCategory.id})" class="btn btn-warning">Edit</a>
                    <a ng-show="account.getClaim('IsAdmin')" ng-click="controller.deleteCategory(controller.catSubCategory.id)" class="btn btn-danger">Delete</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="sub-category-header">
        <h2>List of lessons inside this course</h2>
    </div>

    <div class="container-fluid reduce-margin">
        <ul>
            <li ng-repeat="sc in controller.catSubCategory.subCategories|filter:{subCategoryName: search}" class="inner-scatter" ui-sref="subCategory({id: sc.id})">
                <div class="scatter-content">
                    <div class="scatter-image">
                        <img class="scatter-image-2" ng-src="{{sc.subCatImageUrl}}" />
                    </div>
                    <div class="scatter-name">
                        <a class="li-text">{{sc.subCategoryName}}</a>
                    </div>
                </div>

                <div class="make-center">
                    <a ng-show="account.getClaim('IsAdmin')" ui-sref="editSubCategory({id: sc.id })" class="btn btn-warning">Edit</a>
                    <a ng-show="account.getClaim('IsAdmin')" ng-click="controller.deleteSubCategory(sc.id)" class="btn btn-danger">Delete</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="user-header">
        <h2>Mentors associated with this course</h2>
    </div>

    <div class="listofUsersContainer reduce-margin-top">
        <div class="user-style" ng-repeat="au in controller.category.applicationUsers |filter:{firstName: search}">
            <div class="card kl-card kl-xl kl-spin kl-reveal kl-fade kl-overlay kl-show kl-slide-in kl-shine" ui-sref="applicationUser({id: au.id})">

                <div class="kl-card-block kl-md bg-white kl-shadow-br addMore" ui-sref="applicationUser({id: au.id})">
                    <a href="#" class="kl-card-avatar kl-md kl-pl kl-plo"><img class="kl-b-danger kl-b-circle kl-b-3 kl-reveal kl-spin kl-fast kl-shadow-br kl-shine" ng-src="{{au.picture}}"></a>
                </div>

                <div class="kl-card-block kl-md bg-primary kl-shadow-br kl-overlay">
                    <div class="kl-background">
                        <img src="http://wallpapercave.com/wp/GProxpt.jpg" />
                    </div>

                    <div class="kl-card-overlay kl-card-overlay-split-v-4 kl-dark kl-inverse kl-top-in">
                        <div class="kl-card-overlay-item"></div>
                        <div class="kl-card-overlay-item">
                            <div class="kl-figure-block add-margin-top">
                                <span class="kl-figure kl-txt-shadow">{{au.firstName}}</span>
                            </div>
                        </div>
                        <div class="kl-card-overlay-item">
                            <div class="kl-figure-block add-margin-top">
                                <span class="kl-figure kl-txt-shadow">{{au.lastName}}</span>
                            </div>
                        </div>
                        <div class="kl-card-overlay-item"></div>
                    </div>

                    <div class="kl-card-item kl-pbr kl-show text-primary    ">
                        <div class="kl-figure-block">
                            <span class="kl-figure">{{au.location}}</span>
                        </div>
                    </div>

                    <div class="kl-card-item kl-pm kl-show kl-txt-shadow text-center">
                        <h3 class="mb-0 text-color-1">{{au.firstName}} {{au.lastName}}</h3>
                        <div class="mb-0 text-color-1">{{au.email}}</div>
                    </div>

                    <div class="kl-card-item kl-ptl kl-card-social kl-show add-margin">
                        <a></a>
                        <a href="#"><img class="kl-b-2 kl-shine kl-spin" src="http://vignette4.wikia.nocookie.net/iourpg/images/5/55/Facebook.png/revision/latest?cb=20150217163532" /></a>
                        <a href="#"><img class="kl-b-2 kl-shine kl-spin" src="http://blog.rossmortgage.com/wp-content/uploads/2012/10/social_li.png" /></a>
                        <a href="#"><img class="kl-b-2 kl-shine kl-spin" src="http://www.chicagooperatheater.org/lib/bs3/icons/twitter.png" /></a>
                        <a href="#"><img class="kl-b-2 kl-shine kl-spin" src="https://raw.githubusercontent.com/moka-project/moka-icon-theme/v5.3.0/Moka/48x48/web/web-github.png" /></a>
                    </div>

                    <div class="kl-card-item kl-ptr kl-show text-center kl-w50">
                        <span class="badge badge-success">Online</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!--<div ng-show="account.isLoggedIn()">
    <div class="container">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Category Name</td>
                </tr>
            </thead>
            <tbody>
                <tr class="">
                    <td class="well well-sm">{{controller.category.categoryName}}</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>List of SubCategory inside this Category</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul id="scatter">
                            <li ng-repeat="csc in controller.catSubCategory.subCategories" class="item" id="scat">
                                <a id="li-text" ui-sref="subCategory({id: csc.id})" class="well-sm">{{csc.subCategoryName}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>User pic</th>
                    <td>List of People who teach this (Programming/Music)</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="au in controller.category.applicationUsers">
                    <td><img class="DP" ng-src="{{au.picture}}" style="height:28px; width:28px" id="proPicBackground" /></td>
                    <td>
                        <a ui-sref="applicationUser({id: au.id})">{{au.firstName}} {{au.lastName}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>-->