<div ng-show="account.isLoggedIn()">
    {{controller.message}}

    <br />
    <br />
    <input placeholder="Search" ng-model="search" />
    <br />
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Category Name</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="c in controller.categories|filter:{categoryName: search}">
                <td>
                    <a ui-sref="category({id: c.id})">{{c.categoryName}}</a>
                </td>
                <td ng-show="account.getClaim('IsAdmin')">
                    <a ui-sref="editCategory({id: c.id })">Edit Category</a>
                </td>
                <td ng-show="account.getClaim('IsAdmin')">
                    <button ng-click="controller.deleteCategory(c.id)" class="btn btn-danger">Delete Category</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>