<div ng-show="account.isLoggedIn()">
    <div class="profile-header">
        <div class="profile-head">
            <div class="profile-pic col-md- col-sm-4 col-xs-12">
                <img ng-src="{{controller.user.picture}}" class="img-responsive" />
            </div>

            <div class="user_info col-md-5 col-sm-5 col-xs-12">
                <h5>{{controller.user.firstName}} {{controller.user.lastName}}</h5>
                <p>{{controller.user.occupation}}</p>
                <ul>
                    <li><span class="glyphicon glyphicon-briefcase"></span> {{controller.user.experience}} Years</li>
                    <li><span class="glyphicon glyphicon-map-marker"></span> {{controller.user.location}}</li>
                    <li><span class="glyphicon glyphicon-phone"></span> {{controller.user.phoneNumber}}</li>
                    <li><span class="glyphicon glyphicon-envelope"></span><a href="#" title="mail">{{controller.user.email}}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="sticky" class="edit-profile-button">
        <ul class="nav nav-tabs nav-menu">
            <li class="active even-width">
                <a ui-sref="profile({id: account.getUserId()})">
                    <i class="fa fa-male"></i> Profile
                </a>
            </li>
            <li class="even-width">
                <a ui-sref="#">
                    <i class="fa fa-key"></i> Edit Profile
                </a>
            </li>
            <li class="active even-width">
                <a ng-click="controller.pickFile()">
                    <i class="fa fa-file"></i> Upload Image
                </a>
            </li>

            <li class="even-width">
                <a ng-click="controller.saveProfile()" ui-sref="profile({id: account.getUserId()})">
                    <i class="fa fa-floppy-o"></i> Save Profile
                </a>
            </li>
        </ul>
    </div>

    <div class="tab-pane container-fluid">
        <div class="hve-pro-2">
            <form>
                <textarea ng-model="controller.user.bio" class="user-bio" />
            </form>
        </div>

        <div class="outer-most">
            <div class="part">
                <h4 class="pro-title"><strong>User Info</strong></h4>
            </div>

            <div class="table-responsive table-information-1">
                <div>
                    <div class="even-name col-form-label">First Name</div>
                    <div class="middle-dot">:</div>
                    <input class="form-control even-input" type="text" ng-model="controller.user.firstName">
                </div>

                <div>
                    <div for="example-text-input" class="even-name col-form-label">Last Name</div>
                    <div class="middle-dot">:</div>
                    <input class="form-control even-input" type="text" ng-model="controller.user.lastName">
                </div>

                <div>
                    <div for="example-text-input" class="even-name col-form-label">Birthday</div>
                    <div class="middle-dot">:</div>
                    <input class="form-control even-input" type="text" ng-model="controller.user.birthday">
                </div>

                <div>
                    <div for="example-text-input" class="even-name col-form-label">Location</div>
                    <div class="middle-dot">:</div>
                    <select class="form-control even-input bit-margin" ng-model="controller.user.location">
                        <option selected disabled hidden>{{controller.user.location}}</option>
                        <option value="Seattle, WA">Seattle, WA</option>
                        <option value="Phoenix, AZ">Phoenix, AZ</option>
                        <option value="Houston, TX">Houston, TX</option>
                    </select>
                </div>

                <div>
                    <div for="example-text-input" class="even-name col-form-label">Occupation</div>
                    <div class="middle-dot">:</div>
                    <input class="form-control even-input" type="text" ng-model="controller.user.occupation">
                </div>
            </div>

            <div class="table-responsive table-information-2">
                <div>
                    <div class="even-name col-form-label">Email</div>
                    <div class="middle-dot">:</div>
                    <input class="form-control even-input" type="text" ng-model="controller.user.email">
                </div>

                <div>
                    <div for="example-text-input" class="even-name col-form-label">Phone Number</div>
                    <div class="middle-dot">:</div>
                    <input class="form-control even-input" type="text" ng-model="controller.user.phoneNumber">
                </div>

                <div>
                    <div for="example-text-input" class="even-name col-form-label">Experience</div>
                    <div class="middle-dot">:</div>
                    <input class="form-control even-input" type="text" ng-model="controller.user.experience">
                </div>

                <div>
                    <div for="example-text-input" class="even-name col-form-label">Github</div>
                    <div class="middle-dot">:</div>
                    <input class="form-control even-input" type="text" ng-model="controller.user.githubLink">
                </div>

                <div>
                    <div for="example-text-input" class="even-name col-form-label"></div>
                    <div class="middle-dot"></div>
                    <input class="form-control even-input special-one" type="text">
                </div>
            </div>

            <div class="mid-header">
                <h4 class="pro-title"><strong>Concentration</strong></h4>
            </div>

            <div class="table-responsive table-information-3">
                <div>
                    <div class="even-name col-form-label">Courses</div>
                    <div class="middle-dot"></div>
                    <input class="form-control even-input special-one" type="text" disabled>
                </div>

                <div ng-repeat="cat in controller.UserCategory.categories">
                    <div class="even-name col-form-label"></div>
                    <div class="middle-dot">:</div>
                    <input class="form-control even-input" type="text" ng-model="cat.categoryName" disabled>
                </div>
            </div>

            <div class="table-responsive table-information-4">
                <div>
                    <div class="even-name col-form-label">Lessons</div>
                    <div class="middle-dot"></div>
                    <input class="form-control even-input special-one" type="text" disabled>
                </div>

                <div ng-repeat="subCat in controller.UserSubCategory.subCategories">
                    <div class="even-name col-form-label"></div>
                    <div class="middle-dot">:</div>
                    <input class="form-control even-input" type="text" ng-model="subCat.subCategoryName" disabled>
                </div>
            </div>

            <div class="bottom-header">
                <h4 class="pro-title"><strong>Add multiple courses and lessons</strong></h4>
            </div>

            <div class="multiple-categories">
                <select class="form-control categories" ng-model="controller.UserCategory.categories" ng-options="cat as cat.categoryName for cat in controller.categories track by cat.id" multiple></select>
            </div>

            <div class="multiple-sub-categories">
                <select class="form-control sub-categories" ng-model="controller.UserSubCategory.subCategories" ng-options="subCat as subCat.subCategoryName for subCat in controller.subCategories" multiple></select>
            </div>
            

            <a class="save-button btn btn-success" ng-click="controller.addCategoryToUser(); controller.addSubCategoryToUser()" ui-sref="profile({id: account.getUserId()})">
                <i class="fa fa-floppy-o"></i> Save Courses and Lessons
            </a>

            <!--<a id="save" class="fa fa-floppy-o save-button" ng-click="controller.addCategoryToUser(); controller.addSubCategoryToUser()" ui-sref="profile({id: account.getUserId()})">
                Save Courses and Lessons
            </a>-->

        </div>
    </div>
</div>