<div ng-show="account.isLoggedIn()">
    <br />
    <a ui-sref="editProfile" class="btn btn-warning" ng-click="getCategory()"> Edit Profile</a>
    <div class="col-lg-8 col-lg-offset-2">
        <br />
        <img class="dp" ng-src="{{controller.userCategory.picture}}" style="height:128px; width:128px" id="proPicBackground" />
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Location</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{controller.userCategory.firstName}}</td>
                <td>{{controller.userCategory.lastName}}</td>
                <td>{{controller.userCategory.location}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>List of Category skills (Programming, music, data science, etc)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li ng-repeat="cat in controller.userCategory.categories">
                            <a ui-sref="category({id: cat.id})">{{cat.categoryName}}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>List of Sub-Category skills (.Net, C#, Java, etc)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li ng-repeat="subCat in controller.userSubCategory.subCategories">
                            <a ui-sref="subCategory({id: subCat.id})">{{subCat.subCategoryName}}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>