
<div ng-show="account.isLoggedIn()">
    {{controller.message}}
    <br />
    <br />
    <input placeholder="Search" ng-model="search" />
    <br />
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Sub Category Name</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="sc in controller.subCategories|filter:{subCategoryName: search}">
                <td>
                    <a ui-sref="subCategory({id: sc.id})">{{sc.subCategoryName}}</a>
                </td>
                <td ng-show="account.getClaim('IsAdmin')">
                    <a ui-sref="editSubCategory({id: sc.id})">Edit SubCategory</a>
                </td>
                <td ng-show="account.getClaim('IsAdmin')">
                    <button ng-click="controller.deleteSubCategory(sc.id)" class="btn btn-danger">Delete SubCategory</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>