<html ng-app="CoderCampsMentor">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/css/sidebar.css" rel="stylesheet" />
    <link href="~/css/profile.css" rel="stylesheet" />
    <link href="~/css/Login.css" rel="stylesheet" />
    <link href="~/css/pb.css" rel="stylesheet" />
    <link href="~/css/websiteContent.css" rel="stylesheet" />
    <link href="~/css/listofUsers.css" rel="stylesheet" />
    <link href="~/css/HoverOver.css" rel="stylesheet" />
    <link href="~/css/HoverOver2.css" rel="stylesheet" />
    @*<script src="~/ngApp/javaScript/messagePopup.js" type="text/javascript"></script>*@
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/879aa554f1.js"></script>

    <title>CoderCampsMentor</title>
    <base href="/" />
</head>

<body ng-controller="AccountController as account">

    <div id="wrapper">

        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="dp navbar-img"><a ui-sref="profile({id: account.getUserId()})" ng-show="account.isLoggedIn()"><img class="dp" ng-src="{{account.getPicture()}}" /></a></li>
                <li class="navbar-img text-align-center" ng-show="account.isLoggedIn()">
                    <p>{{account.getUserName()}}</p>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/applicationUsers" ng-show="account.isLoggedIn()">Mentors</a>
                </li>
                <li>
                    <a href="/categories" ng-show="account.isLoggedIn()">Courses</a>
                </li>
                <li>
                    <a href="/addCategory" ng-show="account.getClaim('IsAdmin')">Add a course</a>
                </li>
                <li>
                    <a href="/subCategories" ng-show="account.isLoggedIn()">Lessons</a>
                </li>
                <li>
                    <a href="/addSubCategory" ng-show="account.getClaim('IsAdmin')">Add a lesson</a>
                </li>
                <li>
                    <a ng-show="account.isLoggedIn()" href="/videoCall">Video Call</a>
                </li>
                <li>
                    <a href="/secret" ng-show="account.getClaim('IsAdmin')">Secret</a>
                </li>
                <li>
                    <a class="logout" href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a>
                </li>
            </ul>
        </div>

        <div id="page-content-wrapper" >
            <div class="container-fluid" >
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hoverbtn effect-8">
                            <a href="#menu-toggle" class="hoverbtn2 effect-10 bb" id="menu-toggle"><img class="cc-box" src="/images/CoderGear[3077].png" /></a>
                        </div>               
                    </div>

                    <!-- Page Banner -->
                    <div class="page-banner">
                        <img class="img-banner" src="~/images/newCCbanner.png" />

                        <!-- Start of login and register page-->
                        <div class="container login-register" ng-controller="AccountController as account">
                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#login-Modal" ng-show="!account.isLoggedIn()">
                                <span class="glyphicon glyphicon-user"></span> Login
                            </button>
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#register-Modal" ng-show="!account.isLoggedIn()">
                                <span class="glyphicon glyphicon-education"></span>Register
                            </button>

                            <!-- Login Modal -->
                            <div class="modal fade" id="login-Modal" role="dialog" ng-controller="LoginController as controller">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header" align="center">
                                            <img class="img-circle" id="img_logo" src="~/images/codercampslogo.png" />
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                        </div>

                                        <form ng-submit="controller.login()">
                                            <div class="modal-body">
                                                <div id="div-msg">
                                                    <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                                    <span id="text-login-msg">Type your username and password.</span>
                                                </div>
                                                <input class="form-control" type="text" placeholder="Username" ng-model="controller.loginUser.email" required>
                                                <input class="form-control" type="password" placeholder="Password" ng-model="controller.loginUser.password" required>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Remember me
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div>
                                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#lost-password-Modal" data-dismiss="modal" aria-label="Close">Lost Password?</button>
                                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#register-Modal" data-dismiss="modal" aria-label="Close">Register</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!-- Lost Password Modal -->
                            <div class="modal fade" id="lost-password-Modal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header" align="center">
                                            <img class="img-circle" id="img_logo" src="~/images/codercampslogo.png" />
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                        </div>

                                        <form>
                                            <div class="modal-body">
                                                <div id="div-msg">
                                                    <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                                                    <span id="text-lost-msg">Type your e-mail.</span>
                                                </div>
                                                <input class="form-control" type="text" placeholder="E-Mail" required>
                                            </div>
                                            <div class="modal-footer">
                                                <div>
                                                    <button type="submit" class="btn btn-primary btn-lg btn-block" data-dismiss="modal" aria-label="Close">Send</button>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#login-Modal" data-dismiss="modal" aria-label="Close">Log In</button>
                                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#register-Modal" data-dismiss="modal" aria-label="Close">Register</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!-- Register Modal -->
                            <div class="modal fade" id="register-Modal" role="dialog" ng-controller="RegisterController as controller">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header" align="center">
                                            <img class="img-circle" id="img_logo" src="~/images/codercampslogo.png" />
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                        </div>

                                        <form ng-submit="controller.register()">
                                            <div class="modal-body">
                                                <div id="div-msg">
                                                    <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                                                    <span id="text-register-msg">Register an account.</span>
                                                </div>
                                                <input class="form-control margin-top" type="email" placeholder="E-Mail" ng-model="controller.registerUser.email" required>
                                                <input class="form-control margin-top" type="text" placeholder="First Name" ng-model="controller.registerUser.firstName" required>
                                                <input class="form-control margin-top" type="text" placeholder="Last Name" ng-model="controller.registerUser.lastName" required>
                                                <input class="form-control" type="password" placeholder="Password" ng-model="controller.registerUser.password" required>
                                                <input class="form-control" type="password" placeholder="Confirm Password" ng-model="controller.registerUser.confirmPassword" required>
                                                <div>
                                                    <select class="form-control margin-top" ng-model="controller.registerUser.location">
                                                        <option value="" disabled selected hidden>Location</option>
                                                        <option value="Seattle, WA">Seattle, WA</option>
                                                        <option value="Phoenix, AZ">Phoenix, AZ</option>
                                                        <option value="Houston, TX">Houston, TX</option>
                                                    </select>
                                                </div>
                                                <div hidden>
                                                    <select ng-model="controller.registerUser.picture" ng-init="controller.registerUser.picture='/images/avatar.jpg'">
                                                        <option selected="selected" value="/images/avatar.jpg">/images/avatar.jpg</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div>
                                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#login-Modal" data-dismiss="modal" aria-label="Close">Log In</button>
                                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#lost-password-Modal" data-dismiss="modal" aria-label="Close">Lost Password?</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of login and register-->
                    </div>

                    <div class="website-content">
                        <ui-view></ui-view>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Library Files -->
    <script src="https://rtcmulticonnection.herokuapp.com/dist/RTCMultiConnection.min.js"></script>
    <script src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <!--File Picker-->
    <script src="~/bower_components/angular-filepicker/dist/angular_filepicker.min.js"></script>
    <script src="~/bower_components/filepicker-js/filepicker.min.js"></script>

    <!-- App Files-->
    <script src="/ngapp/app.js"></script>
    <script src="/ngapp/controllers/controllers.js"></script>
    <script src="/ngapp/services/services.js"></script>
    <script src="~/ngApp/controllers/profileController.js"></script>
    <script src="~/ngApp/services/profileService.js"></script>
    <script src="~/ngApp/controllers/applicationUsersController.js"></script>
    <script src="~/ngApp/controllers/categoriesController.js"></script>
    <script src="~/ngApp/controllers/subCategoriesController.js"></script>
    <script src="~/ngapp/controllers/videocallcontroller.js"></script>

    <!-- Video Call script -->
    @*<script src="~/ngApp/videoCall.js"></script>*@

    <!-- Navbar script -->
    <script src="~/lib/Navbar.js"></script>

    <!-- custom layout for HTML5 audio/video elements -->
    <script src="https://cdn.webrtc-experiment.com/getMediaElement.js"></script>
    <script src="https://cdn.webrtc-experiment.com:443/FileBufferReader.js"></script>

    <!-- Security -->
    <script src="/ngapp/controllers/accountcontroller.js"></script>
    <script src="/ngapp/services/accountservice.js"></script>

</body>
</html>
