<html ng-app="CoderCampsMentor">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/css/sidebar.css" rel="stylesheet" />
    <link href="~/css/profile.css" rel="stylesheet" />
    <script src="~/ngApp/javaScript/messagePopup.js" type="text/javascript"></script>


    <title>CoderCampsMentor</title>
    <base href="/" />
</head>

<body ng-controller="AccountController as account">

    <div id="wrapper">

        <div id="sidebar-wrapper">

            <ul class="sidebar-nav">

                <li class="dp"><a ui-sref="profile({id: account.getUserId()})" ng-show="account.isLoggedIn()"><img class="dp" ng-src="{{account.getPicture()}}" style="height:40px; width:40px" id="proPicBackground" /></a></li>
                <li ng-show="account.isLoggedIn()">
                    {{account.getUserName()}}
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a ng-show="account.isLoggedIn()" href="https://testserver-deshawn1.c9users.io/">Chat</a>
                </li>
                <li>
                    <a href="/applicationUsers" ng-show="account.isLoggedIn()">List of Users</a>
                </li>
                <li>
                    <a href="/categories" ng-show="account.isLoggedIn()">List of Categories</a>
                </li>
                <li>
                    <a href="/addCategory" ng-show="account.getClaim('IsAdmin')">Add a Category</a>
                </li>
                <li>
                    <a href="/subCategories" ng-show="account.isLoggedIn()">List of Sub Categories</a>
                </li>
                <li>
                    <a href="/addSubCategory" ng-show="account.getClaim('IsAdmin')">Add a SubCategory</a>
                </li>
                <li>
                    <a href="/code" ng-show="account.isLoggedIn()">Code</a>
                </li>
                <li>
                    <a ng-show="account.isLoggedIn()" href="/videoCall">Video Call</a>
                </li>
                <li>
                    <a href="/secret" ng-show="account.getClaim('IsAdmin')">Secret</a>
                </li>
                <li><a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a></li>
                <li><a href="/login" ng-show="!account.isLoggedIn()">Login</a></li>
            </ul>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>
                    </div>
                        <ui-view></ui-view>
                </div>
            </div>
        </div>
    </div>
    @*<div>

        </div>*@









    @*<div class="make-center">
            <input type="text" id="room-id" value="livingRoom" ng-show="account.isLoggedIn() && !account.isLoggedIn()">

            <button id="enter-room">Enter Room</button>

            <br><br>
            <input type="text" id="input-text-chat" placeholder="Enter Text Chat" disabled>
            <button id="share-file" disabled>Share File</button>

            <br><br>
            <button id="disconnect" disabled>Disconnect</button>

            <div id="room-urls"></div>
        </div>

        <div id="videos-container1"></div>

        <div id="chat-container">
            <div id="file-container"></div>
            <div class="chat-output"></div>
        </div>*@





    <!-- Library Files -->
    <script src="https://rtcmulticonnection.herokuapp.com/dist/RTCMultiConnection.min.js"></script>
    <script src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>



    <!--File Picker-->
    <script src="~/bower_components/angular-filepicker/dist/angular_filepicker.min.js"></script>
    <script src="~/bower_components/filepicker-js/filepicker.min.js"></script>

    <!-- App Files-->
    <script src="/ngapp/app.js"></script>
    <script src="/ngapp/controllers/controllers.js"></script>
    <script src="/ngapp/services/services.js"></script>
    <script src="~/ngApp/controllers/profileController.js"></script>
    <script src="~/ngApp/services/profileService.js"></script>
    <script src="~/ngApp/controllers/applicationUsersController.js"></script>
    <script src="~/ngApp/controllers/categoriesController.js"></script>
    <script src="~/ngApp/controllers/subCategoriesController.js"></script>
    <script src="~/ngApp/controllers/videoCallController.js"></script>

    <!-- Video Call script -->
    <script src="~/ngApp/videoCall.js"></script>

    <!-- custom layout for HTML5 audio/video elements -->
    <script src="https://cdn.webrtc-experiment.com/getMediaElement.js"></script>
    <script src="https://cdn.webrtc-experiment.com:443/FileBufferReader.js"></script>

    <!-- Security -->
    <script src="/ngapp/controllers/accountcontroller.js"></script>
    <script src="/ngapp/services/accountservice.js"></script>


    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
