.bb, .bb::before, .bb::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bb {
    
}
.bb::before, .bb::after {
  content: '';
  z-index: -1;
  /*margin: -5%;*/
  box-shadow: inset 0 0 0 1px;
  color: #d10411;
  /*background-color: rgba(255, 0, 0, 0.3);*/
  animation: clipMe 8s linear infinite;
}
.bb::before {
  animation-delay: -2s;
}
/*.bb:hover::after, .bb:hover::before {
  
}*/

@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 245px, 27px, 0px);
  }
  25% {
    clip: rect(0px, 27px, 245px, 0px);
  }
  50% {
    clip: rect(243px, 245px, 245px, 0px);
  }
  75% {
    clip: rect(0px, 245px, 245px, 243px);
  }
}

*,
*::before,
*::after {
}