/*Css for no image icon*/
#proPicBackground {
    background-image: url(http://s3.amazonaws.com/37assets/svn/765-default-avatar.png);
}

.dp {
    display: inline-block;
    width: 150px;
    height: 30px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

ul {
    list-style-type: none;
}

#scatter {
    margin-top: 10%;
    color: black;
}

@import url('https://fonts.googleapis.com/css?family=Macondo|Nothing+You+Could+Do');

#li-text {
    color: dimgray;
}

a, a:hover {
    text-decoration: none;
}

@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

#li-text {
    background: #d10411 ;
    font-size: 20px;
    position: absolute;
    font-family: 'Nothing You Could Do', cursive;
    text-align: center;
    text-transform: uppercase;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color:  ghostwhite;
}

    #li-text:hover {
        cursor: pointer;
        animation-name: bounce;
        -moz-animation-name: bounce;
    }

#scat {
    font-size: 100%;
    display: inline-block;
    vertical-align: top;
    margin-right: calc((20px / 3) - 5px);
    margin-bottom: 5px;
    height: 100px;
    width: calc(25% - 5px);
}

/*search bar*/
.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
}

    .search-form .form-group input.form-control {
        padding-right: 20px;
        border: 0 none;
        background: transparent;
        box-shadow: none;
        display: block;
    }

        .search-form .form-group input.form-control::-webkit-input-placeholder {
            display: none;
        }

        .search-form .form-group input.form-control:-moz-placeholder {
            /* Firefox 18- */
            display: none;
        }

        .search-form .form-group input.form-control::-moz-placeholder {
            /* Firefox 19+ */
            display: none;
        }

        .search-form .form-group input.form-control:-ms-input-placeholder {
            display: none;
        }

    .search-form .form-group:hover,
    .search-form .form-group.hover {
        width: 100%;
        border-radius: 4px 25px 25px 4px;
    }

    .search-form .form-group span.form-control-feedback {
        position: absolute;
        top: -1px;
        right: -2px;
        z-index: 2;
        display: block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        color: #3596e0;
        left: initial;
        font-size: 14px;
    }

/*Profile Page*/

.profile-head {
    width: 100%;
    background-color: #d10411;
    float: left;
    padding: 15px 5px;
}

    .profile-head img {
        height: 150px;
        width: 150px;
        margin: 0 auto;
        border: 5px solid #fff;
        border-radius: 5px;
    }

    .profile-head h5 {
        width: 100%;
        padding: 5px 5px 0px 5px;
        text-align: justify;
        font-weight: bold;
        color: #fff;
        font-size: 25px;
        text-transform: capitalize;
        margin-bottom: 0;
    }

    .profile-head p {
        width: 100%;
        text-align: justify;
        padding: 0px 5px 5px 5px;
        color: #fff;
        font-size: 17px;
        text-transform: capitalize;
        margin: 0;
    }

    .profile-head a {
        width: 100%;
        text-align: center;
        padding: 10px 5px;
        color: #fff;
        font-size: 15px;
        text-transform: capitalize;
    }

    .profile-head ul {
        list-style: none;
        padding: 0;
    }

        .profile-head ul li {
            display: block;
            color: ghostwhite;
            padding: 5px;
            font-weight: 400;
            font-size: 15px;
        }

            .profile-head ul li:hover span {
                color: rgb(0, 4, 51);
            }

            .profile-head ul li span {
                color: ghostwhite;
                padding-right: 10px;
            }

            .profile-head ul li a {
                color: ghostwhite;
            }

    .profile-head h6 {
        width: 100%;
        text-align: center;
        font-weight: 100;
        color: ghostwhite;
        font-size: 15px;
        text-transform: uppercase;
        margin-bottom: 0;
    }


.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;
}

    .nav-tabs > li > a {
        background: #DADADA;
        border-radius: 0;
        box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover {
        background: #F5F5F5;
        box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
    }

.tab-pane {
    background: #ffffff;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    text-align: center;
    padding: 10px;
}
.gif{
    height:100%;
    width: 100%;
    margin-top: -10px;
    border: 1px solid;
    margin-bottom: -10px;
}
.gif2 {
    height: 100%;
    width: 100%;
}
.tab-content > .active {
    margin-top: 50px; /*width:100% !important;*/
}
iframe{
    height: 100%;
    width:100%;
}
.nav-menu li a {
    margin: 5px 5px 5px 5px;
    position: relative;
    display: block;
    padding: 10px 50px;
    border: 0px solid !important;
    box-shadow: none !important;
    background-color: rgb(0, 4, 51) !important;
    color: #fff !important;
    white-space: nowrap;
}

.nav-menu li.active a {
    background-color: rgb(255, 102, 0) !important;
}

.tab-pane {
    background: #ffffff;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    text-align: center;
    padding: 10px;
}

.tab-content > .active {
    margin-top: 50px; /*width:100% !important;*/
}


.hve-pro {
    background-color: #d10411;
    padding: 5px;
    width: 100%;
    height: auto;
    float: left;
}

    .hve-pro p {
        float: left;
        color: ghostwhite;
        font-size: 15px;
        text-transform: capitalize;
        padding: 5px 20px;
        font-family: 'Noto Sans', sans-serif;
    }

h4.pro-title {
    font-size: 24px;
    color: rgba(0, 4, 51, 0.96);
    text-transform: capitalize;
    text-align: justify;
    padding: 10px 15px;
    font-family: 'Bitter', serif;
}

.bio-table {
    width: 75%;
    border: 0px solid;
}

    .bio-table td {
        text-transform: capitalize;
        text-align: left;
        font-size: 15px;
    }

    .bio-table > tbody > tr > td {
        border: 0px solid;
        text-transform: capitalize;
        color: rgb(0, 4, 51);
        font-size: 15px;
    }

.responsiv-table {
    border: 0px solid;
}

.nav-menu li a {
    margin: 5px 5px 5px 5px;
    position: relative;
    display: block;
    padding: 10px 50px;
    border: 0px solid !important;
    box-shadow: none !important;
    background-color: rgb(0, 4, 51) !important;
    color: #fff !important;
    white-space: nowrap;
}

.nav-menu li.active a {
    background-color: rgb(255, 102, 0) !important;
}
