body{
    background:url('http://kingofwallpapers.com/grey-background/grey-background-002.jpg');
}

.website-content{
    margin-top: 27px;
    background-color:white;
    padding-bottom: 8px;
    min-height: 70.4%;
    padding-top: 10px;
    margin-right: -30px;
}

.page-banner {
    margin-left: 135px;
    height:110px;
    margin-top: -4px;
}

.img-banner {
    margin-top: -200px;
    width: 90%;
}